<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Laporan</h6>

					<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-chart-bar text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                <div class="card-header bg-gray">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-light ls-1 mb-1">Laporan</h6>
                            <h3 class="mb-0 text-white">Carian</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label" for="input-title">
                                    Jenis
                                </label>
                                <select class="browser-default custom-select">
                                    <option selected>Pilih jenis laporan</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label" for="input-title">
                                    Jangka masa
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                    </div>
                                    <input type="text"
                                        class="form-control"
                                        bsDaterangepicker
                                        [bsConfig]="{ isAnimated: true, containerClass: 'theme-blue' }"
                                        name="bsDaterangepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-warning btn-sm btn-block">Cari</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9">
            <div class="card">
                <div class="card-header bg-gray">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-light ls-1 mb-1">Hasil carian</h6>
                            <h3 class="mb-0 text-white">Laporan 2018 vs 2019</h3>
                        </div>
                        <div class="col text-right">
                            <div class="mr-1 dropdown" dropdown>
                                <button class="btn btn-neutral btn-sm text-gray dropdown-toggle" type="button" id="dropdownMenuButton" dropdownToggle>
                                    Export
                                </button>
                                <div  aria-labelledby="dropdownMenuButton" *dropdownMenu class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)">CSV</a>
                                    <a class="dropdown-item" href="javascript:void(0)">PDF</a>
                                    <a class="dropdown-item" href="javascript:void(0)">Excel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="type"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSource"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>