<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

					<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-desktop text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Permohonan
									</h5>

									<span class="h2 font-weight-bold mb-0"> 350,897 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
										<i class="ni ni-active-40"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Permohonan Lulus
									</h5>

									<span class="h2 font-weight-bold mb-0"> 2,356 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
										<i class="ni ni-chart-pie-35"> </i>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Permohonan Ditolak
									</h5>

									<span class="h2 font-weight-bold mb-0"> 924 </span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
										<i class="ni ni-money-coins"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card card-stats">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">
										Pembinaan
									</h5>

									<span class="h2 font-weight-bold mb-0"> 49,0</span>
								</div>

								<div class="col-auto">
									<div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
										<i class="ni ni-chart-bar-32"> </i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class=" container-fluid mt--6">
	<div class=" row">
		<div class=" col-xl-8">
			<div class="card">
				<div class=" card-header bg-secondary">
					<div class=" row align-items-center">
						<div class=" col">
							<h6 class=" text-muted text-uppercase ls-1 mb-1">Chart</h6>

							<h5 class=" h3 mb-0">Data</h5>
						</div>

						<div class="col">
							<ul class="nav nav-pills justify-content-end">
								<li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"
									(click)="data = datasets[0]; updateOptions()">
									<a href="javascript:void(0)" class="nav-link py-2 px-3"
										[ngClass]="{ active: clicked === true }" data-toggle="tab"
										(click)="clicked = true; clicked1 = false">
										<span class="d-none d-md-block">Monthly</span>
										<span class="d-md-none">M</span>
									</a>
								</li>
								<li class="nav-item" data-toggle="chart" data-target="#chart-sales"
									(click)="data = datasets[1]; updateOptions()">
									<a href="javascript:void(0)" class="nav-link py-2 px-3"
										[ngClass]="{ active: clicked1 === true }" data-toggle="tab"
										(click)="clicked = false; clicked1 = true">
										<span class="d-none d-md-block">Weekly</span>
										<span class="d-md-none">W</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class=" card-body">
					<div class=" chart">
						<fusioncharts [width]="width" [height]="height" [type]="typeCol" [dataFormat]="dataFormat"
							[dataSource]="dataSourceCol">
						</fusioncharts>
					</div>
				</div>
			</div>
		</div>

		<div class=" col-xl-4">
			<div class=" card">
				<div class=" card-header bg-secondary">
					<div class=" row align-items-center">
						<div class=" col">
							<h6 class=" text-uppercase text-muted ls-1 mb-1">Chart</h6>

							<h5 class=" h3 mb-0">Trend</h5>
						</div>
					</div>
				</div>

				<div class=" card-body">
					<div class=" chart">
						<fusioncharts [width]="width" [height]="height" [type]="typePie" [dataFormat]="dataFormat"
							[dataSource]="dataSourcePie">
						</fusioncharts>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<mgl-map style="mapbox://styles/mapbox/light-v9" [zoom]="[10.5]" [center]="[101.6869, 3.1390]">
					<ng-container *ngIf="earthquakes">
						<mgl-geojson-source id="earthquakes" [data]="earthquakes" [cluster]="true" [clusterMaxZoom]="14"
							[clusterRadius]="50">
						</mgl-geojson-source>
						<mgl-layer id="clusters" type="circle" source="earthquakes" [filter]="['has', 'point_count']"
							[paint]="{
          'circle-color': {
              property: 'point_count',
              type: 'interval',
              stops: [
                  [0, '#51bbd6'],
                  [100, '#f1f075'],
                  [750, '#f28cb1']
              ]
          },
          'circle-radius': {
              property: 'point_count',
              type: 'interval',
              stops: [
                  [0, 20],
                  [100, 30],
                  [750, 40]
              ]
          }
        }">
						</mgl-layer>
						<mgl-layer id="cluster-count" type="symbol" source="earthquakes"
							[filter]="['has', 'point_count']" [layout]="{
          'text-field': '{point_count_abbreviated}',
          'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
          'text-size': 12
        }">
						</mgl-layer>
						<mgl-layer id="unclustered-point" type="circle" source="earthquakes"
							[filter]="['!has', 'point_count']" [paint]="{
          'circle-color': '#11b4da',
          'circle-radius': 4,
          'circle-stroke-width': 1,
          'circle-stroke-color': '#fff'
        }">
						</mgl-layer>
					</ng-container>
				</mgl-map>
			</div>
		</div>
	</div>

</div>