<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Pemantauan Pembinaan</h6>

					<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-binoculars text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
	<div class="row">
		<div class="col-lg-5">
			<div class="card">
				<div class="card-header py-2 bg-gray">
					<div class="row">
						<div class="col">
							<h4 class="m-0 text-white"><i class="fas fa-chart-line text-white"></i> Chart</h4>
						</div>
						<div class="col-auto">
							<div dropdown class="dropdown no-caret">
								<button id="button-basic" dropdownToggle type="button"
									class="btn btn-sm btn-neutral mr-0 dropdown-toggle" aria-controls="dropdown-basic">
									<i class=" fas fa-ellipsis-h text-gray"> </i>
								</button>

								<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
									<a class="dropdown-item" href="javascript:void(0)">
										Download
									</a>

									<a class="dropdown-item" href="javascript:void(0)">
										Export PDF
									</a>

									<a class="dropdown-item" href="javascript:void(0)">
										Export Powerpoint
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="chart2">
						<fusioncharts
							[width]="width"
							[height]="height"
							[type]="type"
							[dataFormat]="dataFormat"
							[dataSource]="dataSource"
						>
						</fusioncharts>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card">
				<div class="chart3">
						<mgl-map
						[style]="'mapbox://styles/mapbox/streets-v9'"
						[zoom]="[12]"
						[center]="[101.6869, 3.1390]"
						(load)="map = $event"
					  ></mgl-map>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5">
			<div class="card">
				<div class="card-header py-2 bg-gray">
					<div class="row">
						<div class="col">
							<h4 class="m-0 text-white"><i class="fas fa-chart-line text-white"></i> Chart</h4>
						</div>
						<div class="col-auto">
							<div dropdown class="dropdown no-caret">
								<button id="button-basic" dropdownToggle type="button"
									class="btn btn-sm btn-neutral mr-0 dropdown-toggle" aria-controls="dropdown-basic">
									<i class=" fas fa-ellipsis-h text-gray"> </i>
								</button>

								<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
									<a class="dropdown-item" href="javascript:void(0)">
										Download
									</a>

									<a class="dropdown-item" href="javascript:void(0)">
										Export PDF
									</a>

									<a class="dropdown-item" href="javascript:void(0)">
										Export Powerpoint
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="chart2">
						<fusioncharts
							[width]="width"
							[height]="height"
							[type]="type2"
							[dataFormat]="dataFormat"
							[dataSource]="dataSource2"
						>
						</fusioncharts>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="card pb-4">
				<div class="card-header py-2 bg-gray">
					<div class="row">
						<div class="col">
							<h4 class="m-0 text-white"><i class="fas fa-list text-white"></i> List</h4>
						</div>
						<div class="col-auto">
							<div dropdown class="dropdown no-caret">
								<button id="button-basic" dropdownToggle type="button"
									class="btn btn-sm btn-neutral mr-0 dropdown-toggle" aria-controls="dropdown-basic">
									<i class=" fas fa-ellipsis-h text-gray"> </i>
								</button>

								<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
									<a class="dropdown-item" href="javascript:void(0)">
										Download
									</a>

									<a class="dropdown-item" href="javascript:void(0)">
										Export PDF
									</a>

									<a class="dropdown-item" href="javascript:void(0)">
										Export Powerpoint
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table align-items-center table-flush">
						<thead class="thead-light py-2">
							<tr>
								<th class="sort" scope="col">ID</th>
								<th class="sort" scope="col">Kawasan</th>
								<th class="sort" scope="col">PIC</th>
								<th class="sort" scope="col">No. PIC</th>
								<th class="sort" scope="col">Status</th>
							</tr>
						</thead>
						<tbody class="list">
							<tr [routerLink]="['/admin/operation/diary']">
								<th scope="row">#OPS412</th>
								<td>Kawasan 1</td>
								<td>Ahmad Naqi</td>
								<td>018272717</td>
								<td><span class="badge badge-success">Selesai</span></td>
							</tr>
							<tr>
								<th scope="row">#OPS412</th>
								<td>Kawasan 2</td>
								<td>Ahmad Naqi</td>
								<td>018272717</td>
								<td><span class="badge badge-warning">Pembinaan</span></td>
							</tr>
							<tr>
								<th scope="row">#OPS412</th>
								<td>Kawasan 3</td>
								<td>Ahmad Naqi</td>
								<td>018272717</td>
								<td><span class="badge badge-success">Selesai</span></td>
							</tr>
							<tr>
								<th scope="row">#OPS412</th>
								<td>Kawasan 4</td>
								<td>Ahmad Naqi</td>
								<td>018272717</td>
								<td><span class="badge badge-warning">Pembinaan</span></td>
							</tr>
							<tr>
								<th scope="row">#OPS412</th>
								<td>Kawasan 5</td>
								<td>Ahmad Naqi</td>
								<td>018272717</td>
								<td><span class="badge badge-success">Selesai</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>