<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Permohonan</h6>

					<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fab fa-wpforms text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>

				<div class="col-lg-6 col-5 text-right">
					<a class="btn btn-sm btn-warning text-white" (click)="doOpenModal(register)"> Permohonan Baru </a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="chart2">
					<fusioncharts
						[width]="width"
						[height]="height"
						[type]="type"
						[dataFormat]="dataFormat"
						[dataSource]="dataSource"
					>
					</fusioncharts>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
				<div class="chart2">
					<fusioncharts
						[width]="width"
						[height]="height"
						[type]="type2"
						[dataFormat]="dataFormat"
						[dataSource]="dataSource2"
					>
					</fusioncharts>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header py-2 bg-gray">
					<div class="row">
						<div class="col">
							<h4 class="m-0 text-white"><i class="fab fa-wpforms text-white"></i> Senarai Permohonan</h4>
						</div>
						<div class="col-auto">
							<div dropdown class="dropdown no-caret">
								<button id="button-basic" dropdownToggle type="button"
									class="btn btn-sm btn-neutral mr-0 dropdown-toggle" aria-controls="dropdown-basic">
									<i class=" fas fa-ellipsis-h text-gray"> </i>
								</button>

								<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
									<a class="dropdown-item" href="javascript:void(0)">
										Download
									</a>

									<a class="dropdown-item" href="javascript:void(0)">
										Export PDF
									</a>

									<a class="dropdown-item" href="javascript:void(0)">
										Export Powerpoint
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table align-items-center table-flush">
						<thead class="thead-light py-2">
							<tr>
								<th class="sort" scope="col">ID</th>
								<th class="sort" scope="col">Kawasan</th>
								<th class="sort" scope="col">Syarikat</th>
								<th class="sort" scope="col">PIC</th>
								<th class="sort" scope="col">No. PIC</th>
								<th class="sort" scope="col">Tarikh Permohonan</th>
								<th></th>
							</tr>
						</thead>
						<tbody class="list">
							<tr>
								<th scope="row">#APL981</th>
								<td>Kawasan 1</td>
								<td>Syarikat ASWB</td>
								<td>Khariul Akhirdan</td>
								<td>018272717</td>
								<td>10 Julai 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL983</th>
								<td>Kawasan 3</td>
								<td>Syarikat WBWU</td>
								<td>Nurul Amirah</td>
								<td>019281728</td>
								<td>10 Ogos 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL981</th>
								<td>Kawasan 1</td>
								<td>Syarikat ASWB</td>
								<td>Khariul Akhirdan</td>
								<td>018272717</td>
								<td>10 Julai 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL983</th>
								<td>Kawasan 3</td>
								<td>Syarikat WBWU</td>
								<td>Nurul Amirah</td>
								<td>019281728</td>
								<td>10 Ogos 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL981</th>
								<td>Kawasan 1</td>
								<td>Syarikat ASWB</td>
								<td>Khariul Akhirdan</td>
								<td>018272717</td>
								<td>10 Julai 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL983</th>
								<td>Kawasan 3</td>
								<td>Syarikat WBWU</td>
								<td>Nurul Amirah</td>
								<td>019281728</td>
								<td>10 Ogos 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL981</th>
								<td>Kawasan 1</td>
								<td>Syarikat ASWB</td>
								<td>Khariul Akhirdan</td>
								<td>018272717</td>
								<td>10 Julai 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL983</th>
								<td>Kawasan 3</td>
								<td>Syarikat WBWU</td>
								<td>Nurul Amirah</td>
								<td>019281728</td>
								<td>10 Ogos 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL981</th>
								<td>Kawasan 1</td>
								<td>Syarikat ASWB</td>
								<td>Khariul Akhirdan</td>
								<td>018272717</td>
								<td>10 Julai 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL983</th>
								<td>Kawasan 3</td>
								<td>Syarikat WBWU</td>
								<td>Nurul Amirah</td>
								<td>019281728</td>
								<td>10 Ogos 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL981</th>
								<td>Kawasan 1</td>
								<td>Syarikat ASWB</td>
								<td>Khariul Akhirdan</td>
								<td>018272717</td>
								<td>10 Julai 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL983</th>
								<td>Kawasan 3</td>
								<td>Syarikat WBWU</td>
								<td>Nurul Amirah</td>
								<td>019281728</td>
								<td>10 Ogos 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL981</th>
								<td>Kawasan 1</td>
								<td>Syarikat ASWB</td>
								<td>Khariul Akhirdan</td>
								<td>018272717</td>
								<td>10 Julai 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL983</th>
								<td>Kawasan 3</td>
								<td>Syarikat WBWU</td>
								<td>Nurul Amirah</td>
								<td>019281728</td>
								<td>10 Ogos 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL981</th>
								<td>Kawasan 1</td>
								<td>Syarikat ASWB</td>
								<td>Khariul Akhirdan</td>
								<td>018272717</td>
								<td>10 Julai 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
							<tr>
								<th scope="row">#APL983</th>
								<td>Kawasan 3</td>
								<td>Syarikat WBWU</td>
								<td>Nurul Amirah</td>
								<td>019281728</td>
								<td>10 Ogos 2019</td>
								<td class="text-right">
									<button type="button" class="btn btn-success btn-sm">Lulus</button>
									<button type="button" class="btn btn-warning btn-sm">Tidak lulus</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #register let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Permohonan Baru</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label">Kawasan</label>
                        <input class="form-control" value="Taip kawasan" type="text"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label">Syarikat</label>
                        <input class="form-control" value="Taip syarikat" type="text"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label">PIC</label>
                        <input class="form-control" value="Taip PIC" type="text"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-control-label">No. PIC</label>
                        <input class="form-control" value="No. PIC" type="text"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                        <label class="custom-file-label" for="customFileLang">Attach file</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning">Save</button>
            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal"
                (click)="c('Close click')">Close</button>
        </div>
    </div>
</ng-template>