<div class="header pb-6">
	<div class="container-fluid">
		<div class="header-body">
			<div class="row align-items-center py-4">
				<div class="col-lg-6 col-7">
					<h6 class="h2 text-dark d-inline-block mb-0">Penguatkuasaan</h6>

					<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
						<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
							<li class="breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-user-secret text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<mgl-map
                    [style]="'mapbox://styles/mapbox/dark-v9'"
                    [zoom]="[15.5]"
                    [center]="[101.7120, 3.1579]"
                    [bearing]="-17.6"
                    [pitch]="45"
                    (load)="mapLoaded($event)"
                >
					<mgl-layer
						id="3d-buildings"
						source="composite"
						sourceLayer="building"
						[filter]="['==', 'extrude', 'true']"
						type="fill-extrusion"
						[minzoom]="15"
						[paint]="{
								'fill-extrusion-color': '#aaa',
								'fill-extrusion-height': [
								'interpolate', ['linear'], ['zoom'],
								15, 0,
								15.05, ['get', 'height']
								],
								'fill-extrusion-base': [
								'interpolate',
								['linear'], ['zoom'],
								15, 0,
								15.05, ['get', 'min_height']
								],
								'fill-extrusion-opacity': .6
							}"
						[before]="labelLayerId"
					>
					</mgl-layer>
                </mgl-map>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card">
					<mgl-map
					style="mapbox://styles/mapbox/dark-v9"
					[zoom]="[9.5]"
					[center]="[101.6869, 3.1390]"
				>
					<ng-container *ngIf="earthquakes">
						<mgl-geojson-source
							id="earthquakes"
							[data]="earthquakes"
							[cluster]="true"
							[clusterMaxZoom]="15"
							[clusterRadius]="20"
						>
						</mgl-geojson-source>
						<mgl-layer
							*ngFor="let layer of clusterLayers"
							[id]="layer.id"
							type="circle"
							source="earthquakes"
							[filter]="layer.filter"
							[paint]="layer.paint"
							before="waterway-label"
						>
						</mgl-layer>
						<mgl-layer
							id="unclustered-point"
							type="circle"
							source="earthquakes"
							[filter]="['!=', 'cluster', true]"
							[paint]="{
							'circle-color': 'rgba(0,255,0,0.5)',
							'circle-radius': 20,
							'circle-blur': 1
							}"
							before="waterway-label"
						>
						</mgl-layer>
					</ng-container>
				</mgl-map>
			</div>
		</div>
	</div>
</div>